* {
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 20, 26);
  margin: 0;
  padding-top: 60px;
  padding-left: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(15, 20, 26, 0.5);
  backdrop-filter: blur(10px);
}

.site-title {
  margin-top: 15px;
  margin-left: 9px;
  padding-left: 10px;
  text-decoration: none;
  color: rgb(253, 248, 248);
  width: 160px;
  padding-top: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;

}

.search-container {
  padding-top: 20px;
  margin-right: 15px;
}

.search-box {
  padding: 10px;
  padding-bottom: 14px;
  padding-top: 14px;
  font-size: 15px;
  color: #e0e0e0;
  border: none;
  background-color: rgb(15, 24, 33);
  outline: none;
  height: 30px;
  width: 200px;
  border-radius: 6px;
}

.movie-desc {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(26, 42, 58);
  padding: 10px 10px;
  width: 260px;
  max-height: 380px;
  border-radius: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.thumbnail-container {
  height: 290px;
  width: 230px;
  overflow: hidden;
}

.thumbnail {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  float: left;
}

.movie-title {
  padding-top: 12px;
  color: #ffffff;
  width:200px;
}

.movie-grid {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.js-loading-spinner {
  display: none;
  text-align: center;
  margin: 100px auto;
}

.js-loading-spinner p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(212, 212, 212);
}

.js-loading-spinner:before {
  content: '';
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: block;
  margin: 0 auto 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}